h1, h2, h3, h4, h5, h6, p, ul, li, html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

image {
  vertical-align: middle;
}

/* sora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: sora;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sora-v12-latin-regular.woff2") format("woff2"), url("../fonts/sora-v12-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* sora-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: sora;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sora-v12-latin-600.woff2") format("woff2"), url("../fonts/sora-v12-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* sora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: sora;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sora-v12-latin-700.woff2") format("woff2"), url("../fonts/sora-v12-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* sora-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: sora;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/sora-v12-latin-800.woff2") format("woff2"), url("../fonts/sora-v12-latin-800.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-bottom: 10px;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3137254902);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1000;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
}
.header__btn {
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 16px 20px;
  background-color: #000;
  border-radius: 4px;
  color: var(--Primary-White, #fff);
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__btn:hover {
  opacity: 0.8;
}
.header__btn:active {
  background-color: #fff;
  color: #000;
}
.header__item-link {
  color: #000;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
}
.header__logo {
  width: 30px;
}
.header__logo-link {
  display: flex;
  align-items: center;
}
.header__logo-text {
  margin-left: 12px;
  color: #000;
  font-family: Sora;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  max-width: 440px;
  width: 100%;
}
.header__menu-hide {
  display: none;
}
.header__burger {
  display: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hide {
  display: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #fff;
  font-family: sans-serif;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.hide:hover {
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0%;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}

@media only screen and (max-width: 900px) {
  .header {
    transition: 0.2s;
  }
  .header__menu-list {
    padding-top: 30px;
    position: absolute;
    top: 0%;
    right: -100%;
    width: 250px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    text-align: end;
    padding-right: 5px;
    transition: all 0.5s ease;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    color: #fff;
    z-index: 1111;
    gap: 20px;
  }
  .header__item-link {
    color: #fff;
    margin: 10px;
  }
  .header__menu-list.open {
    right: 0%;
  }
  .header__container {
    padding: 12px 0px;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__menu-hide {
    display: block;
  }
  .hide {
    display: block;
    margin-left: 20px;
  }
  .overlay {
    right: -100%;
    transition: all 0.5s ease;
  }
  .overlay.open {
    display: block;
    right: 0;
  }
}
.hero {
  padding-top: 100px;
  margin-bottom: 60px;
}
.hero__body {
  max-width: 600px;
  width: 100%;
  color: #71717a;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 80px;
}
.hero__bold-header {
  font-weight: 800;
}
.hero__container {
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 215px);
  background-size: 850px 600px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.hero__dec-header {
  font-size: 48px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-weight: 800;
  color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero__header {
  margin-top: 30px;
  font-family: sora;
  font-size: 48px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -0.96px;
  margin-bottom: 30px;
}
.hero__item {
  transition: all 0.3s ease;
}
.hero__item:hover {
  transform: scale(1.1);
}
.hero__item-link {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__list {
  display: flex;
  align-items: center;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
}

@media only screen and (max-width: 500px) {
  .hero__body {
    font-size: 16px;
    margin-bottom: 36px;
  }
  .hero__container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 280px;
    background-size: contain;
    background-position: calc(0% - 20px) 0%;
    margin-bottom: 20px;
    margin-bottom: 0;
  }
  .hero__dec-header {
    font-size: 28px;
    line-height: 45px;
  }
  .hero__header {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 32px;
  }
}
.skill {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill__container {
  padding-left: 32px;
  padding-right: 32px;
}
.skill__dec-header {
  font-weight: 800;
}
.skill__header {
  text-align: center;
  color: #000;
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.skill__item {
  border: 2px solid #000;
  border-radius: 5px;
  max-width: 138px;
  height: 138px;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  transition: all 0.3s ease;
  background-color: #fff;
}
.skill__item:hover {
  transform: scale(1.1);
}
.skill__item::before {
  content: "";
  display: inline-block;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.skill__item:nth-child(1)::before {
  background-image: url("../img/git.svg");
}
.skill__item:nth-child(2)::before {
  background-image: url("../img/js.svg");
}
.skill__item:nth-child(3)::before {
  background-image: url("../img/sass.svg");
}
.skill__item:nth-child(4)::before {
  background-image: url("../img/nodejs.svg ");
}
.skill__item:nth-child(5)::before {
  background-image: url("../img/react.svg");
}
.skill__item:nth-child(6)::before {
  background-image: url("../img/python.svg");
}
.skill__item:nth-child(7)::before {
  background-image: url("../img/django.svg");
}
.skill__item:nth-child(8)::before {
  background-image: url("../img/express.svg");
}
.skill__item:nth-child(9)::before {
  background-image: url("../img/typescript.svg");
}
.skill__item:nth-child(10)::before {
  background-image: url("../img/socket.svg");
}
.skill__list {
  max-width: 1130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}
.skill__item-body {
  text-align: center;
  color: #000;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  margin-top: 32px;
}

@media only screen and (max-width: 500px) {
  .skill__container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .skill__header {
    font-size: 28px;
  }
  .skill__item {
    padding: 10px;
  }
}
.project {
  background-color: #000;
  color: #fff;
}
.project__container {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 80px;
  padding-bottom: 10px;
}
.project__dec {
  font-weight: 800;
}
.project__header {
  text-align: center;
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  margin-bottom: 100px;
}
.project__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.project__item:nth-child(2) {
  order: -1;
}
.project__item-body {
  color: #71717a;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 28px;
}
.project__item-header {
  color: var(--Primary-White, #fff);
  font-family: Sora;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
  margin-bottom: 28px;
}
.project__item-number {
  color: var(--Primary-White, #fff);
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  margin-bottom: 28px;
}
.project__item-wrapper {
  max-width: 582px;
  width: 100%;
}
.project__link {
  transition: all 0.3s ease;
}
.project__link:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 500px) {
  .project__container {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .project__header {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .project__img-link {
    margin-bottom: 20px;
  }
  .project__item {
    flex-direction: column;
  }
  .project__item-body {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .project__item-header {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 28px;
  }
  .project__item-img {
    max-width: 343px;
    width: 100%;
    margin-bottom: 28px;
  }
  .project__item-number {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 28px;
  }
}
.about__body {
  color: var(--Zinc-500, #71717a);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.about__container {
  padding: 60px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__dec {
  font-weight: 800;
}
.about__header {
  color: var(--Primary-Black, #000);
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  text-align: center;
  margin-bottom: 40px;
}
.about__right-wrapper {
  max-width: 610px;
  width: 100%;
}
.about__img {
  max-width: 525px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .about__container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .about__img {
    margin-bottom: 45px;
  }
  .about__header {
    font-size: 28px;
    line-height: 28px;
  }
  .about__body {
    font-size: 16px;
  }
}
.test__body {
  margin-bottom: 24px;
  text-align: center;
  color: #000;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.32px;
  max-width: 290px;
  width: 100%;
  transition: all 0.3s ease;
}
.test__container {
  padding-top: 80px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.test__dec {
  font-weight: 800;
}
.test__header {
  text-align: center;
  color: #000;
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
}
.test__img {
  margin-bottom: 24px;
}
.test__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 20px;
  background: var(--Primary-White, #fff);
  box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08), 0px 6px 8px -6px rgba(24, 39, 75, 0.12);
  transition: all 0.3s ease;
}
.test__item:hover {
  background: #000;
}
.test__line {
  margin-bottom: 24px;
  max-width: 120px;
  width: 100%;
  height: 2px;
  background-color: #000;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.test__list {
  margin-top: 40px;
  padding: 40px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.test__subheader {
  color: #000;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
  transition: all 0.3s ease;
}
.test__header-item {
  margin-bottom: 24px;
  color: #000;
  text-align: center;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.test__item:hover .test__body,
.test__item:hover .test__header-item,
.test__item:hover .test__subheader {
  color: #fff;
}

.test__item:hover .test__line {
  background-color: #fff;
}

@media only screen and (max-width: 500px) {
  .test__container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
  .test__header {
    font-size: 28px;
    line-height: 28px;
  }
  .test__item {
    padding: 20px;
  }
  .test__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact__body {
  color: var(--Zinc-500, #71717a);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 40px;
}
.contact__send {
  display: block;
  color: var(--Primary-Black, #000);
  font-family: Sora;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.56px;
  margin-bottom: 16px;
}
.contact__btn {
  border: none;
  outline: none;
  background: none;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 16px 20px;
  color: var(--Primary-White, #fff);
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
}
.contact__btn:hover {
  opacity: 0.8;
}
.contact__btn:active {
  background-color: #fff;
  color: #000;
}
.contact__container {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__dec {
  font-size: 48px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-weight: 800;
  color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact__form {
  display: flex;
  max-width: 500px;
  width: 100%;
  flex-direction: column;
}
.contact__header {
  color: var(--Primary-Black, #000);
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 116.667% */
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}
.contact__input {
  padding: 18px 24px;
  color: var(--Zinc-500, #71717a);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
  resize: none;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background: none;
  border-radius: 4px;
  border: 1.4px solid var(--Primary-Black, #000);
}
.contact__item {
  transition: all 0.3s ease;
}
.contact__item:hover {
  transform: scale(1.1);
}
.contact__item-link {
  padding: 16px;
  border: 2px solid #000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}
.contact__wrapper {
  max-width: 600px;
  width: 100%;
}
.contact__second-wrapper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .contact {
    padding-top: 40px;
  }
  .contact__second-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .contact__btn {
    width: 100%;
    display: block;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .contact__container {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }
  .contact__dec {
    font-size: 28px;
    line-height: 32px;
  }
  .contact__header {
    font-size: 28px;
    line-height: 32px;
  }
  .contact__input {
    font-size: 16px;
    line-height: 20px;
  }
  .contact__list {
    width: 100%;
    margin-bottom: 40px;
  }
  .contact__send {
    font-size: 20px;
    line-height: 24px;
  }
}
.footer {
  background-color: #000;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer__container {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__country {
  color: var(--Primary-White, #fff);
  text-align: right;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
}
.footer__left-wrapper {
  display: flex;
  align-items: center;
}
.footer__logo {
  width: 25px;
  margin-right: 12px;
}
.footer__logo-name {
  color: var(--Primary-White, #fff);
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
}
.footer__right-wrapper {
  display: flex;
  flex-direction: column;
}
.footer__year {
  color: var(--Primary-White, #fff);
  text-align: right;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
  margin-bottom: 12px;
}

@media only screen and (max-width: 500px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__container {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__logo-name {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */